@import "variables";
@import "media-queries";
@import "bases";
@import "classes";

/*=============== Main Container ===============*/
.main__container {
}

/*=============== Header ===============*/
.header {
}

/*=============== Main ===============*/
.main {
}

/*=============== Footer ===============*/
.footer {
  margin-top: 17.3rem;
  text-align: center;
  color: #828282;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7rem;
  font-family: var(--montserrat-font);

  p {
    a {
      color: inherit;
    }
  }

  @include md {
    margin-top: 12.8rem;
  }
}
